.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    height: 80px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    height: 60px;
}